.meteor-star {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.meteor-tail {
    position: absolute;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}